/* Navigation Bar */
body {
  margin: 0;
  background-color: #F2E9D8;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0px;
  justify-content: center;
  background-color: #703640;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

nav li a:hover {
  
  background-color: #562931;
}

nav li a:active {
  background-color: white;
  color: black;
}

@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  li {
    width: 100vw;
    padding: 10px 10px;
  }
  li a:hover {
    background-color: darkslategrey;
  }}
  


/* FAQ Flexbox content */
@media only screen and (max-width: 400px) {
  .FAQ-flexbox{
      padding: 10px;
      font-size: 16px;
  }
}
@media only screen and (max-width: 1500px) {
  .faq-container {
      padding: 20px;
      font-size: 20px;
  }
}

#HeaderImage{
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  }

.FAQ-flexbox{
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color:#F2E9D8;
  text-wrap:balance;
  }

h1{
  padding: 20px;
  font-family: "Bitter", serif;
  text-align: center;
   font-size: 50px;
  }

p{
  padding: 20px;
  font-family: "Dosis", sans-serif;
  text-align:left;
  font-size: 22px;
  }

h2{
  padding: 20px;
  font-family: "Bitter", serif;
  text-align: center;
  }
    
.Ticketing{
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  margin: 7%;
  border-radius: 20px;
  padding: 7%;
  color: white;
  background-color: #2c484e;
  align-items: center;
  justify-content: center;
  }
    
.BeforeYouGo{
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  margin: 7%;
  border-radius: 20px;
  padding: 7%;
  color: white;
  background-color: #2c484e;
  align-items: center;
  justify-content: center;
  }
    
.AtTheEvent{
  font-family: "Dosis", sans-serif;
  font-size: 22px;
  margin: 7%;
  border-radius: 20px;
  padding: 7%;
  color: white;
  background-color: #2c484e;
  align-items: center;
  justify-content: center;
  }

.contact_us{
  padding: 40px;
  color: white;
  background-color: #703640;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  }

#BottomImage{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-bottom: 5px;
  }