 landing_container {
    font-size: 22px;
    width: 150%; 
    margin: 7%;
    border-radius: 20px;
    padding: 7%;
    color: #F2E9D8;
    background-color: #2c484e;
    align-items: center;
    text-align: center;
}
