/*nav bar stuff*/
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0px;
  justify-content: center;
  background-color: #703640;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

nav li a:hover {
  
  background-color: #562931;
}

nav li a:active {
  background-color: white;
  color: black;
}

@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  li {
    width: 100vw;
    padding: 10px 10px;
  }
  li a:hover {
    background-color: darkslategrey;
  }}

/*nav bar stuff*/

body {
  margin: 0;
  background-color: #cdd5c6;
  /* font-family: "Londrina Sketch", sans-serif; */
  
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
