body {
  margin: 0;
  background-color: #cdd5c6;

}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0px;
  justify-content: center;
}

li a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  /*font-family: "Londrina Sketch", sans-serif;*/
}

li a:hover {
  background-color: darkslategrey;
}

li a:active {
  background-color: white;
  color: black;
}

@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  li {
    width: 100vw;
    padding: 10px 10px;
  }
  li a:hover {
    background-color: darkslategrey;
  }
}

/* p-schedule */

.schedule {
  background-color: #cdd5c6;
  /* margin-left: 105; */
  /* padding-bottom: 300px; */
}

.header_image {
  width: 100vw;
}

.header_text {
  width: 50%;
  color: 2900a;
  text-align: center;
  margin-left: 22%;
  padding: 50px;
}

.header_text h1 {
  font-size: 50px;
}

.header_text p {
  font-size: 28px;
}

.schedule_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}
#everything{
    background-color: pink;
}
/* about page */


/* FAQ PAGE */
#HeaderImage{
display: flex;
width: 100%;
height: auto;
max-width: 100%;
}


.BeforeYouGo{
  background-color: #2C484E;
  color: white;
  text-decoration:none; 
  list-style:none;
  padding: 20px;
  line-height: 1.5;
}

.Ticketing{
  background-color: #2C484E;
  color: white;
  text-decoration:none; 
  list-style:none;
  padding: 20px;
  line-height: 1.5;
}

.AtTheEvent{
  background-color: #2C484E;
  color: white;
  text-decoration:none; 
  list-style:none;
  padding: 20px;
  line-height: 1.5;
}

.schedule_text {
  font-size: 22px;
  margin: 5%;
  text-align: center;
  border-radius: 20px;
  padding: 5%;
  border-color: black;
  color: #29000a;
  background-color: #f0ead6;
}

.schedule_bottom
{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.bottom_img
{
  margin: 10%;
}
