body{
    margin:0;
}

ul{
    list-style: none;
    display: flex;
    background-color: black;
    margin:0;
    padding: 10px 0px;
    justify-content: center;
}

li a{
    text-decoration: none; 
    color: white;
    padding: 10px 30px;
    /*font-family: "Londrina Sketch", sans-serif;*/
}

li a:hover{
    background-color: darkslategrey;
}

li a:active{
    background-color: white;
    color:black;
}

@media screen and (max-width: 800px){
    ul{
        flex-direction: column;
    }
    li{
        width: 100vw;
        padding: 10px 10px;
    }
    li a:hover{
        background-color: darkslategrey;
    }
    
}

/*tilly stuff*/

.about_pic{
    width: 100%;
    height: 100%;
}
