body{
    margin:0;
}

nav ul{
    list-style: none;
    display: flex;
    background-color: black;
    margin:0;
    padding: 10px 0px;
    justify-content: center;
}

li a{
    text-decoration: none; 
    color: white;
    padding: 10px 30px;
    /*font-family: "Londrina Sketch", sans-serif;*/
}

li a:hover{
    background-color: darkslategrey;
}

li a:active{
    background-color: white;
    color:black;
}

@media screen and (max-width: 800px){
    ul{
        flex-direction: column;
    }
    li{
        width: 100vw;
        padding: 10px 10px;
    }
    li a:hover{
        background-color: darkslategrey;
    }
    
}

/* about page */
#about_pic {
    width: 100%;            
}

#about_pic img {
    width: 100vw;           
    height: auto;           
    display: block;
    margin: 0;             
    object-fit: cover;      
}

.what_we_offer, .contact_us, .about {
    border-bottom: solid;
}

#About_title{
    border-bottom: solid;
}
#what_we_offer_title, #contact_us_title{
    padding-left: 20px;
}
#everything{
    background-color: pink;
}
/* about page */

/* FAQ PAGE */

#HeaderImage{
display: flex;
width: 100%;
height: auto;
max-width: 100%;
}

h1{
    color:#29000A; 
    padding: 20px;
    text-align: center;
}

p{
    padding: 20px;
}

.Ticketing{
background-color: #2C484E;
color: white;
text-decoration:none; 
list-style:none;
padding: 20px;
line-height: 1.5;
}

.BeforeYouGo{
    background-color: #2C484E;
    color: white;
    text-decoration:none; 
    list-style:none;
    padding: 20px;
    line-height: 1.5;

}

.AtTheEvent{
    background-color: #2C484E;
    color: white;
    text-decoration:none; 
    list-style:none;
    padding: 20px;
    line-height: 1.5;
}