body {
  background-color: hsl(92, 15%, 81%, .6);
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-style: groove;
  padding: 5%;
}

h1 {
  color: #29000a;
  font-size: 55px;
  padding: 5px;
}

h6 {
  color: #29000a;
  font-size: 50px;
  padding: 5px;
}

h2 {
  color: #29000a;
  font-size: 45px;
  padding: 5px;

}

h3 {
  color: #29000a;
  font-size: 35px;
  padding: 5px;

}

p,
th,
td,
li {
  color: #2c484e;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
