
#about_pic {
    width: 100%;     
}
#about_pic img {
    width: 100vw;           
    height: auto;           
    display: block;
    margin: 0;             
    object-fit: cover;      
}
.what_we_offer, .contact_us, .about {
    border-bottom: solid;
}  
#About_title{
    border-bottom: solid;
    display: flex;
    justify-content: center;
    padding:20px;

}
#what_we_offer_title, #contact_us_title{
    padding-left: 20px;
}

/*
.flute_pic img {
    width: 100vw;           
    height: auto;           
    display: block;
    margin: 0;             
    object-fit: cover;      
}
*/
.about{
  padding: 20px;
  
}
.what_we_offer, .flute_pic{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}