
#about_pic {
    width: 100%;     
}
#about_pic img {
    width: 100vw;           
    height: auto;           
    display: block;
    margin: 0;             
    object-fit: cover;      
}
.what_we_offer, .contact_us, .about {
    border-bottom: solid;
}  
#About_title{
    border-bottom: solid;
    display: flex;
    justify-content: center;
    padding:20px;

}
#what_we_offer_title, #contact_us_title{
    padding-left: 20px;
}

.about, .what_we_offer{
  font-size: 22px;
  margin: 7%;
  border-radius: 20px;
  padding: 7%;
  color: white;
  background-color: #2c484e;
  align-items: center;
  justify-content: center;
  
}

